/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

.container {
    background-color: white;
    padding: 33px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.password-output {
    margin-bottom: 20px;
}

#password {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 11px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.options {
    margin: 15px 0;
}

label {
    margin-top: 10px;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}
